.navbar {
    top: 0;
    margin-bottom: -15px;
    border-bottom: 3px solid white;
    background: rgb(249,249,249);
    color: #25272a;
    width: 100%;
    z-index: 2;
    flex-direction: column;
}

.navbar .title {
    font-size: 60px;
    color: #25272a;
}

.navbar .link {
    margin-right: 45px;
    font-size: 40px;
    color: #25272a !important;
}


