body {
    padding-top: 200px;
    background-color: rgb(249,249,249);
    color: #25272a;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.sub {
    color: #00c1dd;
}

h1 {
    padding-top: 50px;
}

h2 {
    padding-top: 25px;
}