    body {
        padding-top: 200px;
        background-color: rgb(30, 49, 73);
        color: #25272a;
        font-family: "Homenaje", sans-serif;
    }
    /*----------------------NavBar----------------------*/
    
    .navbar {
        top: 0;
        margin-bottom: -15px;
        border-bottom: 3px solid white;
        background: rgb(30, 49, 73);
        color: #25272a;
        width: 100%;
        z-index: 2;
        flex-direction: column;
    }
    
    .navbar .fa-plane {
        font-size: 60px;
        color: #25272a;
    }
    
    .navbar .title {
        font-family: "Homenaje", sans-serif;
    }
    
    .navbar .link {
        margin-right: 45px;
        font-family: "Homenaje", sans-serif;
        font-size: 40px;
        color: #25272a !important;
    }
    
    .navbar .Form {
        margin-right: 45px;
    }

