body {
  padding-top: 100px;
  font-family: "Inter", sans-serif;
  text-align: center;
  background-color: rgb(249, 249, 249);
  color: rgb(37, 39, 42);
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.sub {
  color: #00c1dd;
}

h1 {
  padding-top: 50px;
}

h2 {
  padding-top: 25px;
}

h3 {
  padding-top: 15px;
}

h4 {
  padding-top: 10px;
}
